.disabled-date {
  background-color: red;
  border-radius: 5px;
  cursor: not-allowed;
}
.available {
  background-color: green;
  border-radius: 5px;
}
.booked {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  margin-top: 5px;
}
.booked + p {
  font-size: 12px;
  margin-top: 5px;
}
.form-control {
  width: 100%;
  padding: 1rem 0px;
  font-weight: 700;
  text-align: center;
  border-radius: 0.5rem;
  opacity: 1;
  font-size: 19px;
  cursor: pointer;
  border: solid 1px #e3e6ea;
  text-align: center !important;
}
