.disabled-date {
  background-color: red;
  border-radius: 5px;
  cursor: not-allowed;
}
.available {
  background-color: green;
  border-radius: 5px;
}
.booked {
  width: 15px;
  height: 15px;
  background-color: red;
}
